<% description ||= field %>
<div class="field <%= field %>" data-value="<%= f.object.send(field) %>">
  <%= f.label field, "#{field} (<span class='value'>#{f.object.send(field)}</span>)".html_safe, :class => field, :title => description  %>
  <div class="values">
    <% (0..5).each do |v| %>
      <%= f.radio_button field, v, :title => v, 'data-for' => field %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
