Section
	Row
		String "Shadow Name"
		String "Virtue"
			Suggestion "Prudence"
			Suggestion "Temperance"
			Suggestion "Justice"
			Suggestion "Charity"
			Suggestion "Hope"
			Suggestion "Faith"
			Suggestion "Fortitude"
		String "Path"
			Suggestion "Acanthus (Fate, Time)"
			Suggestion "Mastigos (Mind, Space)"
			Suggestion "Moros (Death, Matter)"
			Suggestion "Obrimos (Prime, Forces)"
			Suggestion "Thyrsus (Spirit, Life)"
	Row
		String "Player"
			Description "Your name"
		String "Vice"
			Suggestion "Lust"
			Suggestion "Gluttony"
			Suggestion "Greed"
			Suggestion "Sloth"
			Suggestion "Wrath"
			Suggestion "Envy"
			Suggestion "Pride"
		String "Order"
			Description "The group of mages you belong to"
	Row
		String "Chronicle"
			Description "Name of the campaign"
		String "Concept"
			Description "A really short description of your character"
		String "Legacy"
			Description "Subgroup within an Order"

Section "Attributes"
	Row "Power"
		FiveDots "Intelligence"
			Default 1
		FiveDots "Strength"
			Default 1
		FiveDots "Presence"
			Default 1
	Row "Finesse"
		FiveDots "Wits"
			Default 1
		FiveDots "Dexterity"
			Default 1
		FiveDots "Manipulation"
			Default 1
	Row "Resistance"
		FiveDots "Resolve"
			Default 1
		FiveDots "Stamina"
			Default 1
		FiveDots "Composure"
			Default 1

Section "Skills"
	Section "Mental"
		FiveDots "Academics"
		FiveDots "Computer"
		FiveDots "Crafts"
		FiveDots "Investigation"
		FiveDots "Medicine"
		FiveDots "Occult"
		FiveDots "Politics"
		FiveDots "Science"
	Section "Physical"
		FiveDots "Athletics"
		FiveDots "Brawl"
		FiveDots "Drive"
		FiveDots "Firearms"
		FiveDots "Larceny"
		FiveDots "Stealth"
		FiveDots "Survival"
		FiveDots "Weaponry"
	Section "Social"
		FiveDots "Animal Ken"
		FiveDots "Empathy"
		FiveDots "Expression"
		FiveDots "Intimidation"
		FiveDots "Persuasion"
		FiveDots "Socialize"
		FiveDots "Streetwise"
		FiveDots "Subterfuge"

Section "Arcana"
	FiveDots "Prime"
		Description "Subtle magic which changes (or stops) other spells and restores mana"
	FiveDots "Fate"
		Description "Subtle magic which reads (or changes) destiny and luck"
	FiveDots "Mind"
		Description "Subtle magic that pries at the minds of others"
	FiveDots "Spirit"
		Description "Subtle magic that lets you bargain with spirits (who can do pretty much anything)"
	FiveDots "Death"
		Description "Subtle magic of darkness decay souls death and undeath"
	FiveDots "Forces"
		Description "Obvious magic that controls heat light electricity radiation gravity and kinetic energy"
	FiveDots "Time"
		Description "Obvious magic that alters time itself"
	FiveDots "Space"
		Description "Obvious magic that grants powers like teleportation and scrying. Space 2 can be combined with other arcanum to effect distant targets"
	FiveDots "Life"
		Description "Obvious magic; healing transforming strengthening or weakening"
	FiveDots "Matter"
		Description "Obvious magic which manipulates all forms of unliving matter"
